@import "tailwindcss";

body,
* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Roboto", sans-serif;

}

*::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


@theme {
    --color-primary: #5044e5;
}